<div class="well">
	<img src="{{results.image_url}}">
	<h2>{{results.name}}</h2>
	<p>{{results.location.display_address[0]}}</p>
	<p>{{results.location.display_address[2]}}</p>
	{{results.id}}
</div>

<form enctype="multipart/form-data" ng-submit="submitReview()">

<!-- 	<input type="hidden" value="{{results.name}}" ng-model="place.name">
	<input type="hidden" value="{{results.location.display_address[0]}}" ng-model="place.addressLine1">
	<input type="hidden" value="{{results.location.display_address[2]}}" ng-model="place.addressLine2"> -->

	<legend>New restaurant review</legend>

	<div class="form-group">
		<label for="file">Upload a photograph</label>
		<input type="file" name="file" ng-model="review.imageUrl">
	</div>

	<div class="form-group">
		<label for="img-details">Photograph description</label>
		<input type="text" name="img-details" ng-model="review.imageDescription">
	</div>

	<div class="form-group">
		<label for="review">Review</label>
		<input type="text" name="review" ng-model="review.review">
	</div>

	<div class="form-group">
		<label for="food">Food</label>
			<div>
				<uib-rating
					ng-model="review.food"
					name="food"
					id="food"
					rate="rate"
					max="max"
					on-hover="hoveringOver(value)"
					on-leave="overStar = null"
					titles="['one','two','three', 'four', 'five']"
					aria-labelledby="default-rating">
				</uib-rating>
				<span
					class="label"
					ng-class="{'label-warning': percent<30, 'label-info': percent>=30 && percent<70, 'label-success': percent>=70}"
					ng-show="overStar && !isReadonly">
						{{percent}}%
				</span>
		</div>
	</div>

	<div class="form-group">
		<label for="drinks">Drinks</label>
			<div>
				<uib-rating
					ng-model="review.drinks"
					name="drinks"
					id="drinks"
					max="max"
					on-hover="hoveringOver(value)"
					on-leave="overStar = null"
					titles="['one','two','three']"
					aria-labelledby="default-rating">
				</uib-rating>
				<span
					class="label"
					ng-class="{'label-warning': percent<30, 'label-info': percent>=30 && percent<70, 'label-success': percent>=70}"
					ng-show="overStar && !isReadonly">
						{{percent}}%
				</span>
		</div>
	</div>

	<div class="form-group">
		<label for="service">Service</label>
			<div>
				<uib-rating
					ng-model="review.service"
					name="service"
					id="service"
					max="max"
					on-hover="hoveringOver(value)"
					on-leave="overStar = null"
					titles="['one','two','three', 'four', 'five']"
					aria-labelledby="default-rating">
				</uib-rating>
				<span
					class="label"
					ng-class="{'label-warning': percent<30, 'label-info': percent>=30 && percent<70, 'label-success': percent>=70}"
					ng-show="overStar && !isReadonly">
						{{percent}}%
				</span>
		</div>
	</div>

	<div class="form-group">
		<label for="atmosphere">Atmosphere</label>
			<div>
				<uib-rating
					ng-model="review.atmosphere"
					name="service"
					id="service"
					max="max"
					on-hover="hoveringOver(value)"
					on-leave="overStar = null"
					titles="['one','two','three', 'four', 'five']"
					aria-labelledby="default-rating"
					>
				</uib-rating>
				<span
					class="label"
					ng-class="{'label-warning': percent<30, 'label-info': percent>=30 && percent<70, 'label-success': percent>=70}"
					ng-show="overStar && !isReadonly">
						{{percent}}%
				</span>
		</div>
	</div>

	<button type="submit" class="btn btn-primary">Submit review</button>

</form>