#welcome-header {
    font-size: 100px;
}

#welcome-subheader {
    font-size: 80px;
    font-weight: 100;
}

#signup-btn {
    border-radius: 0;
    border: none;
    font-size: 30px;
    background-color: orange;
    color: white;
}

#welcome-page {
    background-image: url("./images/food-table.jpg");
/*    padding-top: 30px;*/
    background-repeat: no-repeat;
    height: 450px;
    text-align: center;
    color: white;
}

#welcome-overlay {
    background-color: rgba(0, 0, 0, 0.4);
    height: 450px;
}

#navbar-brand {
    height: 40px;
    width: auto;
}